---
import talleres from '../../assets/images/Talleres.jpg';
import flisol from '../../assets/images/Flisol.jpg';
import campaña from '../../assets/images/Campaña navideña.jpg';
import EventCard from '../EventCard.astro';
---

<div class="container mx-auto max-w-5xl">
  <p class="mb-8 mt-8 text-center font-sans text-4xl font-bold">
    Nuestros Eventos
  </p>
  <div
    class="scrollImages mx-5 mb-7 flex items-center justify-items-center gap-1"
  >
    <EventCard title="Flisol" src={flisol} alt="Evento de la FLISOL" />
    <EventCard
      title="Talleres SCESI"
      src={talleres}
      alt="Talleres realizados por la SCESI"
    />
    <EventCard
      title="Campaña navideña"
      src={campaña}
      alt="Campaña navideña patitas"
    />

    <style>
      .scrollImages {
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        scrollbar-width: none;
      }
    </style>
  </div>
</div>
