---
import talleres from '../../assets/images/Talleres.jpg';
import flisol from '../../assets/images/Flisol.jpg';
import campaña from '../../assets/images/Campaña navideña.jpg';
import EventCard from '../EventCard.astro';
---

<section class="container mx-auto max-w-5xl py-16">
  <h2 class="mb-8 text-center font-poppins text-[32px] font-semibold">
    Nuestros Eventos
  </h2>

  <div
    class="mx-5 mb-7 flex snap-x snap-mandatory items-center justify-items-center gap-1 overflow-x-auto"
  >
    <EventCard title="Flisol" src={flisol} alt="Evento de la FLISOL" />
    <EventCard
      title="Talleres SCESI"
      src={talleres}
      alt="Talleres realizados por la SCESI"
    />
    <EventCard
      title="Campaña navideña"
      src={campaña}
      alt="Campaña navideña patitas"
    />
  </div>
</section>
