---
import Logo from '../icons/Logo.astro';
import ScesiGirl from '../icons/ScesiGirl.astro';
import ScesiBoy from '../icons/ScesiBoy.astro';
---

<div class="static flex h-screen flex-col bg-white bg-cover">
  <div class="z-10 mx-auto mt-[50%] w-fit md:mt-[15%]">
    <Logo fill="#333333" width="full" />
  </div>
  <p
    class="z-10 mb-[50px] mt-16 text-center font-poppins text-2xl leading-relaxed md:mt-8 md:text-5xl"
  >
    Sociedad Científica de Estudiantes <br /> de Sistemas e Informática
  </p>
  <div class="absolute z-10 flex h-full w-full items-end justify-between">
    <ScesiGirl class="relative h-fit" />
    <ScesiBoy class="relative h-fit" />
  </div>
</div>
<div class="container">
  <div class="bubbles">
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:11;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:12;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:24;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:10;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:14;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:23;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:18;" />
    <img src="/icons/Trazado_circle_1_1378.svg" style="--i:16;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:19;" />
    <img src="/icons/Trazado_circle_2_1378.svg" style="--i:20;" />
    <img src="/icons/Trazado_circle_1_1378.svg" style="--i:22;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:25;" />
    <img src="/icons/Trazado_circle_2_1378.svg" style="--i:18;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:21;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:15;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:26;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:17;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:13;" />
    <img src="/icons/Trazado_circle_1_1378.svg" style="--i:28;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:11;" />
    <img src="/icons/Trazado_circle_2_1378.svg" style="--i:13;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:8;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:27;" />
    <img src="/icons/Trazado_circle_1_1378.svg" style="--i:12;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:7;" />
    <img src="/icons/Trazado_circle_2_1378.svg" style="--i:22;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:9;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:11;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:12;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:24;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:10;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:14;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:23;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:18;" />
    <img src="/icons/Trazado_circle_1_1378.svg" style="--i:16;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:19;" />
    <img src="/icons/Trazado_circle_2_1378.svg" style="--i:20;" />
    <img src="/icons/Trazado_circle_1_1378.svg" style="--i:22;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:25;" />
    <img src="/icons/Trazado_circle_2_1378.svg" style="--i:18;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:21;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:15;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:26;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:17;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:13;" />
    <img src="/icons/Trazado_circle_1_1378.svg" style="--i:28;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:11;" />
    <img src="/icons/Trazado_circle_2_1378.svg" style="--i:13;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:8;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:27;" />
    <img src="/icons/Trazado_circle_1_1378.svg" style="--i:12;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:7;" />
    <img src="/icons/Trazado_circle_2_1378.svg" style="--i:22;" />
    <img src="/icons/Trazado_Triangle_1372.svg" style="--i:9;" />
  </div>
</div>
<style>
  .container {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -100vh;
  }
  .bubbles {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .bubbles img {
    position: relative;
    fill: #4fc3dc;
    /* width: 40px; */
    animation: animate 15s linear infinite;
    animation-duration: calc(100s / var(--i));
  }
  @keyframes animate {
    0% {
      transform: translateY(100vh) scale(0.5) rotate(0deg);
    }
    100% {
      transform: translateY(10vh) scale(1) rotate(360deg);
    }
  }
</style>
