---
import { Image } from 'astro:assets';
import image1 from '../assets/img/imagen1.png';
import image2 from '../assets/img/imagen2.png';
import image3 from '../assets/img/imagen3.png';
---

<main>
  <div class="bg-[#F8F8F8]">
    <div class="container mx-auto px-4 py-2 md:px-8 md:py-12 lg:px-20 font-poppins">
      <p class="text-center text-2xl font-semibold">Acerca de Nosotros</p>
      <p class="pb-5 text-center text-sm md:pb-10">
        La Sociedad Científica De Estudiantes de Sistemas e Informática
        (S.C.E.S.I.) fue fundada un 20 de octubre del 2003. Con los objetivos
        de:
      </p>

      <!-- contendio -->
      <div class="contenido flex flex-col-reverse justify-center md:flex-row">
        <p class="m-auto text-center font-sans md:w-3/5 md:p-4 mr-10">
          Organizar y coordinar la asistencia de estudiantes de nuestra Facultad
          y Sociedad a eventos de carácter científico a nivel local, nacional e
          internacional.
        </p>
        <Image
          class="h-48 w-full rounded-lg object-cover md:h-auto md:w-2/5"
          src={image1}
          alt="Eventos de carácter científico a nivel local"
        />
      </div>

      <!-- contenido -->
      <div class="contenido flex flex-col justify-center py-10 md:flex-row">
        <Image
          class="h-48 w-full rounded-lg object-cover md:h-auto md:w-2/5"
          src={image2}
          alt="Organización de SCESI de eventos científicos"
        />
        <p class="m-auto text-center font-sans md:w-3/5 md:p-4 ml-10">
          Organizar y ser partícipes de los eventos científicos locales,
          nacionales o internacionales en el ámbito estudiantil que tengan por
          interés las Carreras de Sistemas e Informática UMSS.
        </p>
      </div>

      <!-- contenido -->
      <div class="contenido flex flex-col-reverse justify-center md:flex-row">
        <p class="m-auto text-center font-sans md:w-3/5 md:p-4 mr-10">
          Gestionar el patrocinio para proyectos o eventos de investigación
          cuyos autores principales sean integrantes de la SCESI.
        </p>
        <Image
          class="h-48 w-full rounded-lg object-cover md:h-auto md:w-2/5"
          src={image3}
          alt="Participacion en gestiones SCESI"
        />
      </div>
    </div>
  </div>
</main>
