<main>
      <div class="bg-[#F8F8F8]">
        <div class="container mx-auto px-4 py-2 md:px-8 lg:px-20 md:py-12">
          <p class="text-center text-2xl font-semibold">Acerca de Nosotros</p>
          <p class="pb-5 text-center text-sm md:pb-10">La Sociedad Científica De Estudiantes de Sistemas e Informática (S.C.E.S.I.) fue fundada un 20 de octubre del 2003. Con los objetivos de:</p>
  
          <!-- contendio -->
          <div class="contenido flex flex-col-reverse justify-center md:flex-row">
            <p class="m-auto text-center font-sans md:w-3/5 md:p-4">Organizar y coordinar la asistencia de estudiantes de nuestra Facultad y Sociedad a eventos de carácter científico a nivel local, nacional e internacional.</p>
            <img class="h-48 w-full rounded-lg object-cover md:h-auto md:w-2/5" src="https://picsum.photos/350/250?cualquiercosa=1" alt="" />
          </div>
  
          <!-- contenido -->
          <div class="contenido flex flex-col justify-center py-10 md:flex-row">
            <img class="h-48 w-full rounded-lg object-cover md:h-auto md:w-2/5" src="https://picsum.photos/350/250?cualquiercosa=2" alt="Organización de SCESI de eventos científicos" />
            <p class="m-auto text-center font-sans md:w-3/5 md:p-4">Organizar y ser partícipes de los eventos científicos locales, nacionales o internacionales en el ámbito estudiantil que tengan por interés las Carreras de Sistemas e Informática UMSS.</p>
          </div>
  
          <!-- contenido -->
          <div class="contenido flex flex-col-reverse justify-center md:flex-row">
            <p class="m-auto text-center font-sans md:w-3/5 md:p-4">Gestionar el patrocinio para proyectos o eventos de investigación cuyos autores principales sean integrantes de la SCESI.</p>
            <img class="h-48 w-full rounded-lg object-cover md:h-auto md:w-2/5" src="https://picsum.photos/350/250?cualquiercosa=5" alt="Participacion en gestiones SCESI" />
          </div>
        </div>
      </div>
    </main>
  