---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  image: ImageMetadata;
  isPictureLast: boolean;
  alt: string;
  content: string;
}

const { image, alt, content, isPictureLast } = Astro.props;
---

<article
  class:list={[
    'flex flex-col-reverse justify-between',
    isPictureLast ? 'md:flex-row' : 'md:flex-row-reverse',
  ]}
>
  <p
    class:list={[
      'm-auto mr-0 text-center font-poppins',
      isPictureLast ? 'md:mr-10' : 'md:ml-10',
    ]}
  >
    {content}
  </p>

  <Image
    class="mb-4 aspect-[4/3] w-full rounded-lg object-cover md:mb-0 md:aspect-auto md:h-auto md:w-[350px]"
    src={image}
    alt={alt}
  />
</article>
