---
import { Image } from 'astro:assets';
const { imagen, alt, content, isPictureRight } = Astro.props;
---

<div
  class:list={[
    'contenido',
    'flex',
    'flex-col-reverse',
    'justify-between',
    isPictureRight ? 'md:flex-row' : 'md:flex-row-reverse',
    'pb-10',
  ]}
>
  <p 
  
  class:list={[
    'm-auto',
    'mr-0',
    'text-center',
    'font-sans',
    isPictureRight ? 'md:mr-10' : 'md:ml-10',
  ]}
  >
    {content}
  </p>
  <Image
    class="h-48 w-full rounded-lg object-cover md:h-auto md:w-2/5"
    src={imagen}
    alt={alt}
  />
</div>
