---
import { Image } from 'astro:assets';
import myImage from '../assets/img_capuchino.png';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro...">
  <div class="grid w-full grid-cols-1 md:grid-cols-2">
    <div class="grid h-full content-center bg-slate-950 p-12">
      <p
        class="mb-4 text-center font-poppins text-4xl font-semibold text-white"
      >
        Construye tu horario con capucchino
      </p>
      <p class="p-6 text-center font-poppins text-xl text-white">
        Aun no armaste tu horario? no te preocupes relájate, ponte cómodo y
        sírvete un cappuchino mientras armas tus horarios
      </p>
      <button
        class="mx-auto mt-6 h-16 w-52 rounded-full bg-red-600 font-poppins font-bold text-white hover:bg-sky-800"
      >
        Arma tu horario ahora
      </button>
    </div>
    <div class="h-full border border-red-600">
      <Image
        src={myImage}
        class="aspect-square h-full w-full object-cover object-left-top"
        alt="Imagen-de-interfaz-Capucchino-Scesi"
      />
    </div>
  </div>
</Layout>
