---
import { Image } from 'astro:assets';

interface Props {
  title: string;
  src: ImageMetadata;
  alt: string;
}

const { title, src, alt } = Astro.props;
---

<article class="flex snap-center flex-col items-center">
  <Image
    title={title}
    src={src}
    alt={alt}
    class="img-shadow aspect-square min-w-[300px] rounded-xl md:w-full"
  />
  <p
    class="title-shadow w-fit -translate-y-1/2 rounded-[4px] bg-white px-2 py-1 font-poppins"
  >
    {title}
  </p>
</article>

<style scoped>
  .img-shadow {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .title-shadow {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  }
</style>
