---
type Props = astroHTML.JSX.AnchorHTMLAttributes & {};

const { href, 'aria-label': ariaLabel, ...props } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={ariaLabel}
  {...props}
>
  <slot />
</a>
