---
import Logo from './icons/Logo.astro';
---

<div class="static flex h-screen flex-col bg-white bg-cover">
  <div class="z-10 mx-auto mt-[50%] w-fit md:mt-[15%]">
    <Logo fill="#333333" width="full" />
  </div>
  <p
    class="z-10 mb-[50px] mt-16 text-center font-poppins text-2xl leading-relaxed md:mt-8 md:text-5xl"
  >
    Sociedad Científica de Estudiantes <br /> de Sistemas e Informática
  </p>
  <div class="absolute z-10 flex h-full w-full items-end justify-between">
    <svg
      class="relative h-fit"
      width="300"
      height="226"
      viewBox="0 0 251 194"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M82.0118 96.7262C82.0118 96.7262 28.4038 117.68 0 208.311L36.3044 226.322L63.1771 157.712L82.0118 96.7262Z"
        fill="#76E2F4"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M241.822 114.674C241.822 114.674 250.952 108.808 249.822 106.007C248.693 103.207 246.037 104.78 246.037 104.78C246.037 104.78 248.758 103.106 247.496 101.261C247.211 100.754 246.759 100.362 246.218 100.15C245.676 99.9388 245.078 99.9211 244.525 100.1C244.525 100.1 246.453 97.2699 244.595 96.223C242.737 95.1762 239.945 95.8434 239.945 95.8434C239.945 95.8434 241.014 93.4886 240.962 92.6598C240.91 91.8309 239.707 89.9963 235.816 90.9041C231.925 91.8119 223.592 96.4388 220.787 97.8675C217.983 99.2962 214.811 102.612 214.721 101.54C214.631 100.467 213.427 93.6254 210.77 91.6268C208.114 89.6283 207.053 89.3079 206.582 93.1082C206.111 96.9085 206.238 107.487 201.096 115.284C195.954 123.082 194.193 128.276 188.76 134.597C183.327 140.917 180.827 144.097 180.827 144.097L205.326 164.032C205.326 164.032 229.092 128.26 229.266 128.022C229.439 127.783 237.152 118.309 241.822 114.674Z"
        fill="white"></path>
      <path
        d="M246.848 104.587C246.848 104.587 249.888 99.6322 244.195 100.236C238.501 100.841 230.781 106.113 227.062 108.904"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M220.858 120.125C220.858 120.125 222.94 113.76 213.863 111.127C213.863 111.127 217.321 97.6213 210.77 91.625C204.22 85.6286 207.787 101.071 203.404 110.476C199.021 119.882 194.058 128.959 189.394 133.907C184.731 138.856 180.702 144.256 180.702 144.256L205.474 164.143C205.474 164.143 213.937 151.283 226.995 131.317C240.053 111.351 251.574 110.913 249.823 106.006C247.665 99.9761 232.277 114.175 232.277 114.175"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M244.194 100.236C244.194 100.236 247.129 96.6335 243.401 95.6825C242.652 95.5245 241.879 95.5064 241.123 95.6291C236.641 96.2085 229.192 99.9752 223.754 104.175"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M214.687 102.553C214.687 102.553 225.348 92.6038 237.511 90.9557C241.909 90.3602 241.728 94.7465 237.406 96.5746"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M162.99 156.599C166.682 154.028 170.142 151.14 173.331 147.967C184.292 137.312 193.655 124.041 193.655 124.041L220.586 147.114C220.586 147.114 191.211 192.706 173.571 198.403C155.93 204.101 115.611 158.241 115.611 158.241L112.437 97.9103C117.316 100.612 121.898 103.818 126.107 107.477C136.094 116.498 153.549 132.618 173.329 147.973"
        fill="#76E2F4"></path>
      <path
        d="M162.99 156.599C166.682 154.028 170.142 151.14 173.331 147.967C184.292 137.312 193.655 124.041 193.655 124.041L220.586 147.114C220.586 147.114 191.211 192.706 173.571 198.403C155.93 204.101 115.611 158.241 115.611 158.241L112.437 97.9103C117.316 100.612 121.898 103.818 126.107 107.477C136.094 116.498 153.549 132.618 173.329 147.973"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M184.867 135.373C190.124 129.049 193.655 124.049 193.655 124.049L220.586 147.115C220.586 147.115 217.171 152.413 211.975 159.619L184.867 135.373Z"
        fill="white"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M191.484 132.801C191.484 133.163 191.592 133.517 191.793 133.817C191.994 134.118 192.279 134.353 192.613 134.491C192.948 134.629 193.315 134.666 193.67 134.595C194.025 134.524 194.351 134.35 194.606 134.095C194.862 133.839 195.036 133.513 195.107 133.158C195.177 132.803 195.141 132.436 195.003 132.101C194.864 131.767 194.63 131.482 194.329 131.281C194.029 131.08 193.675 130.973 193.313 130.973C192.828 130.973 192.363 131.165 192.02 131.508C191.677 131.851 191.484 132.316 191.484 132.801Z"
        fill="white"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M39.2823 212.373C39.2779 211.872 39.2823 201.598 39.2823 201.093C39.2823 141.678 64.561 93.5101 95.7425 93.5101C126.924 93.5101 152.203 141.678 152.203 201.092C152.203 201.596 152.207 211.869 152.203 212.371L39.2823 212.373Z"
        fill="#76E2F4"></path>
      <path d="M95.9271 120.478V212.374" stroke="black" stroke-miterlimit="10"
      ></path>
      <path
        d="M95.742 121.441L73.9732 101.81C80.6725 96.47 88.0244 93.5102 95.742 93.5102C103.204 93.5102 110.998 96.794 117.518 101.804L95.742 121.441Z"
        fill="white"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M144.093 145.506C149.241 161.73 152.203 180.753 152.203 201.093C152.203 201.597 152.207 211.871 152.203 212.373H39.2825C39.2781 211.872 39.2825 201.598 39.2825 201.093C39.2825 180.28 42.3856 160.845 47.7558 144.379"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M73.9688 101.803C80.6703 96.4633 88.0266 93.5109 95.7435 93.5109C103.433 93.5109 110.765 96.4414 117.446 101.746"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M73.3321 107.627L85.3409 89.588C86.4606 87.9079 88.1149 86.6552 90.0357 86.0331C91.9565 85.4111 94.0312 85.456 95.9232 86.1608C97.8155 85.4561 99.8903 85.4111 101.811 86.0332C103.732 86.6552 105.387 87.9078 106.507 89.588L118.518 107.627C119.17 108.607 119.624 109.705 119.852 110.86C120.08 112.015 120.078 113.204 119.846 114.358C119.615 115.512 119.158 116.61 118.503 117.587C117.847 118.565 117.005 119.404 116.026 120.057L114.307 121.202C112.328 122.519 109.906 122.997 107.575 122.529C105.244 122.062 103.194 120.687 101.876 118.708L95.9239 109.771L89.9722 118.708C89.3198 119.688 88.4808 120.53 87.503 121.185C86.5253 121.841 85.4279 122.298 84.2736 122.529C83.1194 122.761 81.9308 122.763 80.7758 122.535C79.6208 122.307 78.5219 121.854 77.542 121.202L75.823 120.057C74.8432 119.404 74.0015 118.565 73.346 117.587C72.6906 116.609 72.2341 115.512 72.0028 114.358C71.7715 113.203 71.7699 112.015 71.998 110.86C72.2261 109.705 72.6794 108.606 73.3321 107.627Z"
        fill="#FEFEFF"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M94.0022 105.494C94.0022 105.839 94.1044 106.176 94.2958 106.462C94.4872 106.748 94.7592 106.972 95.0775 107.104C95.3957 107.235 95.7459 107.27 96.0838 107.203C96.4217 107.135 96.732 106.97 96.9756 106.726C97.2192 106.482 97.3851 106.172 97.4523 105.834C97.5195 105.496 97.485 105.146 97.3532 104.828C97.2214 104.51 96.9981 104.237 96.7117 104.046C96.4252 103.855 96.0885 103.753 95.744 103.753C95.2821 103.753 94.839 103.936 94.5124 104.263C94.1858 104.589 94.0022 105.032 94.0022 105.494Z"
        fill="#FEFEFF"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M72.0446 62.8654C72.0301 64.7204 72.5669 66.5379 73.5869 68.0873C74.607 69.6367 76.0642 70.8482 77.7739 71.5682C79.4835 72.2881 81.3685 72.484 83.1896 72.131C85.0108 71.778 86.686 70.8921 88.0029 69.5855C89.3197 68.2789 90.2188 66.6107 90.5861 64.7924C90.9534 62.974 90.7723 61.0876 90.0658 59.3724C89.3593 57.6571 88.1592 56.1904 86.6178 55.1582C85.0764 54.1261 83.2632 53.575 81.4081 53.575C78.9346 53.5656 76.5586 54.5391 74.8027 56.2813C73.0467 58.0235 72.0546 60.3918 72.0446 62.8654Z"
        stroke="black"
        stroke-width="2"
        stroke-miterlimit="10"></path>
      <path
        d="M112.85 34.0381H101.086C93.2648 34.0381 86.8654 41.3249 86.8654 50.2291V68.4661C86.8654 68.9782 86.8918 69.4866 86.9335 69.9892C86.8021 70.536 86.7343 71.0961 86.7316 71.6585V94.4822C86.7374 96.4229 87.5108 98.2825 88.8831 99.6547C90.2554 101.027 92.1149 101.801 94.0556 101.806H98.7235C100.664 101.8 102.523 101.027 103.895 99.6544C105.267 98.2822 106.041 96.4227 106.046 94.4822V84.6578H112.849C120.671 84.6578 127.07 77.3725 127.07 68.4683V50.2313C127.071 41.3249 120.671 34.0381 112.85 34.0381Z"
        fill="white"
        stroke="black"
        stroke-miterlimit="10"></path>
      <path
        d="M89.9474 62.5658L92.1186 48.2805C92.1186 48.2805 131.639 53.2351 144.45 34.0376C157.261 14.8401 143.798 7.24169 137.281 8.32728C130.764 9.41287 123.151 18.7501 123.151 18.7501C123.151 18.7501 129.214 10.4999 123.151 9.19707C117.087 7.89421 110.389 14.1912 106.899 20.7055C106.899 20.7055 80.8494 18.2768 72.0425 34.0383C63.2356 49.7999 70.3731 60.9835 86.4792 77.2717L87.556 68.162L89.9474 62.5658Z"
        fill="black"></path>
      <path
        d="M44.6219 16.7374C44.6217 20.0479 45.6033 23.2842 47.4425 26.0369C49.2816 28.7896 51.8957 30.935 54.9543 32.202C58.0128 33.469 61.3783 33.8005 64.6252 33.1547C67.8722 32.5088 70.8547 30.9147 73.1956 28.5738C75.5365 26.2329 77.1307 23.2503 77.7765 20.0034C78.4223 16.7564 78.0908 13.3909 76.8239 10.3324C75.5569 7.27386 73.4114 4.65973 70.6587 2.82057C67.9061 0.98142 64.6698 -0.000144666 61.3593 1.59923e-08C56.9203 0.000194014 52.6632 1.76365 49.5244 4.90248C46.3855 8.04131 44.622 12.2984 44.6219 16.7374Z"
        fill="black"></path>
      <path
        d="M93.4938 65.3698C93.4936 66.7057 93.8897 68.0117 94.6318 69.1225C95.3739 70.2334 96.4287 71.0992 97.6629 71.6105C98.8971 72.1218 100.255 72.2556 101.566 71.995C102.876 71.7344 104.079 71.0911 105.024 70.1465C105.969 69.2019 106.612 67.9983 106.872 66.688C107.133 65.3778 106.999 64.0197 106.488 62.7855C105.977 61.5513 105.111 60.4964 104 59.7543C102.889 59.0122 101.583 58.6162 100.247 58.6163C98.4562 58.6165 96.7385 59.3281 95.472 60.5946C94.2056 61.8611 93.494 63.5787 93.4938 65.3698Z"
        fill="#E4B0C8"></path>
      <path
        d="M125.25 59.9678C125.651 59.9698 126.051 60.0189 126.44 60.1141V67.1199C126.514 68.138 126.48 69.161 126.339 70.1719C125.978 70.2227 125.614 70.2494 125.249 70.2516C123.885 70.2516 122.578 69.71 121.613 68.7458C120.649 67.7816 120.108 66.474 120.108 65.1104C120.108 63.7469 120.649 62.4392 121.613 61.4751C122.578 60.5109 123.885 59.9692 125.249 59.9692L125.25 59.9678Z"
        fill="#E4B0C8"></path>
      <path
        d="M105.685 55.9373C105.685 56.4125 105.825 56.8771 106.089 57.2723C106.353 57.6674 106.728 57.9755 107.167 58.1574C107.606 58.3393 108.09 58.3869 108.556 58.2943C109.022 58.2016 109.45 57.9728 109.786 57.6368C110.122 57.3007 110.351 56.8726 110.443 56.4065C110.536 55.9405 110.488 55.4574 110.306 55.0184C110.125 54.5794 109.817 54.2042 109.421 53.9403C109.026 53.6764 108.562 53.5356 108.086 53.5357C107.449 53.5357 106.839 53.7887 106.388 54.2391C105.938 54.6895 105.685 55.3004 105.685 55.9373Z"
        fill="#141414"></path>
      <path
        d="M121.411 55.5861C121.411 55.9912 121.531 56.3872 121.756 56.724C121.981 57.0609 122.301 57.3234 122.676 57.4784C123.05 57.6335 123.462 57.674 123.859 57.595C124.256 57.516 124.621 57.3209 124.908 57.0344C125.194 56.748 125.389 56.383 125.468 55.9857C125.547 55.5883 125.507 55.1765 125.352 54.8022C125.197 54.4279 124.934 54.108 124.597 53.883C124.261 53.6579 123.865 53.5378 123.46 53.5378C122.916 53.5378 122.395 53.7536 122.011 54.1377C121.627 54.5218 121.411 55.0428 121.411 55.5861Z"
        fill="#141414"></path>
      <path
        d="M119.118 65.4135C119.118 65.4135 117.912 68.9307 115.359 69.1729C112.805 69.415 110.806 66.5862 110.669 64.3792L119.118 65.4135Z"
        fill="#F7F6F6"
        stroke="#141414"
        stroke-width="0.223"
        stroke-miterlimit="10"></path>
      <path
        d="M95.9263 54.5305C95.9263 59.7068 99.6812 63.9043 104.313 63.9043C108.945 63.9043 112.699 59.7075 112.699 54.5305C112.699 49.3535 108.945 45.1567 104.313 45.1567C99.6812 45.1567 95.9263 49.3535 95.9263 54.5305Z"
        stroke="#672ED6"
        stroke-miterlimit="10"></path>
      <path
        d="M125.212 61.7383C121.399 61.7383 118.308 57.9853 118.308 53.3557C118.308 48.7261 121.399 44.9731 125.212 44.9731C129.025 44.9731 132.116 48.7261 132.116 53.3557C132.116 57.9853 129.025 61.7383 125.212 61.7383Z"
        stroke="#672ED6"
        stroke-miterlimit="10"></path>
      <path
        d="M115.612 53.5736V61.7148L119.879 59.1149L115.612 53.5736Z"
        fill="#D96980"></path>
      <path
        d="M118.525 55.8632C118.525 55.8632 115.147 54.447 112.698 56.4704"
        stroke="#672ED6"
        stroke-miterlimit="10"></path>
      <path
        d="M72.0446 62.8654C72.0301 64.7204 72.5669 66.5379 73.5869 68.0873C74.607 69.6367 76.0642 70.8482 77.7739 71.5682C79.4835 72.2881 81.3685 72.484 83.1896 72.131C85.0108 71.778 86.686 70.8921 88.0029 69.5855C89.3197 68.2789 90.2188 66.6107 90.5861 64.7923C90.9534 62.974 90.7723 61.0876 90.0658 59.3724C89.3593 57.6571 88.1592 56.1904 86.6178 55.1582C85.0764 54.1261 83.2632 53.575 81.4081 53.575C78.9346 53.5656 76.5586 54.5391 74.8027 56.2813C73.0467 58.0235 72.0546 60.3918 72.0446 62.8654Z"
        fill="white"></path>
      <path
        d="M86.4784 64.0919C86.4784 64.0919 86.8903 57.7818 80.4104 58.4818"
        stroke="#090909"
        stroke-width="0.275"
        stroke-miterlimit="10"></path>
    </svg>
    <svg
      class="relative h-fit"
      width="169"
      height="226"
      viewBox="0 0 169 226"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Grupo_5068">
        <g id="Grupo_5067">
          <g id="Grupo_5061">
            <g id="Group">
              <g id="Grupo_5060">
                <g id="Grupo_5059">
                  <g id="Grupo_5053">
                    <path
                      id="Trazado_1424"
                      d="M85.2882 119.598C132.07 119.598 170 167.308 170 226.161H0.576416C0.576416 167.308 38.4951 119.598 85.2882 119.598Z"
                      fill="#161D6F"
                      stroke="black"
                      stroke-width="0.862455"
                      stroke-miterlimit="10"></path>
                    <g id="Grupo_5052">
                      <path
                        id="Trazado_1425"
                        d="M111.755 145.268C111.755 148.606 114.458 151.321 117.808 151.321C121.146 151.321 123.85 148.618 123.85 145.268C123.85 141.918 121.146 139.215 117.808 139.215C114.458 139.215 111.755 141.93 111.755 145.268Z"
                        fill="#98DED9"></path>
                      <path
                        id="Elipse_104"
                        d="M87.7527 174.571C91.4659 174.571 94.476 171.56 94.476 167.847C94.476 164.134 91.4659 161.124 87.7527 161.124C84.0395 161.124 81.0293 164.134 81.0293 167.847C81.0293 171.56 84.0395 174.571 87.7527 174.571Z"
                        fill="#EEDA36"></path>
                      <path
                        id="Trazado_1426"
                        d="M55.8872 145.268C55.8872 148.606 58.5907 151.321 61.9406 151.321C65.2905 151.321 67.994 148.618 67.994 145.268C67.994 141.918 65.2905 139.215 61.9406 139.215C58.5907 139.215 55.8872 141.93 55.8872 145.268Z"
                        fill="#98DED9"></path>
                      <path
                        id="Elipse_105"
                        d="M32.4851 166.096C35.3609 166.096 37.6922 163.765 37.6922 160.889C37.6922 158.013 35.3609 155.682 32.4851 155.682C29.6093 155.682 27.278 158.013 27.278 160.889C27.278 163.765 29.6093 166.096 32.4851 166.096Z"
                        fill="#EEDA36"></path>
                      <path
                        id="Trazado_1427"
                        d="M132.607 171.386C132.607 174.866 135.428 177.687 138.907 177.687C142.386 177.687 145.207 174.866 145.207 171.386C145.207 167.907 142.386 165.086 138.907 165.086C135.428 165.086 132.607 167.907 132.607 171.386Z"
                        fill="#EEDA36"></path>
                      <path
                        id="Elipse_106"
                        d="M111.907 196.34C115.62 196.34 118.63 193.329 118.63 189.616C118.63 185.903 115.62 182.893 111.907 182.893C108.194 182.893 105.184 185.903 105.184 189.616C105.184 193.329 108.194 196.34 111.907 196.34Z"
                        fill="#EEDA36"></path>
                      <path
                        id="Elipse_107"
                        d="M49.6572 193.989C52.7212 193.989 55.2052 191.505 55.2052 188.441C55.2052 185.377 52.7212 182.893 49.6572 182.893C46.5931 182.893 44.1093 185.377 44.1093 188.441C44.1093 191.505 46.5931 193.989 49.6572 193.989Z"
                        fill="#EEDA36"></path>
                      <path
                        id="Trazado_1428"
                        d="M16.5227 199.361C16.5227 202.335 18.9323 204.733 21.8943 204.733C24.8681 204.733 27.2659 202.323 27.2659 199.361C27.2659 196.387 24.8563 193.989 21.8943 193.989C18.9323 193.977 16.5227 196.387 16.5227 199.361Z"
                        fill="#EEDA36"></path>
                      <path
                        id="Trazado_1429"
                        d="M139.823 202.052C139.823 205.202 142.385 207.765 145.536 207.765C148.686 207.765 151.248 205.202 151.248 202.052C151.248 198.902 148.686 196.34 145.536 196.34C142.385 196.328 139.835 198.89 139.823 202.052C139.823 202.04 139.823 202.04 139.823 202.052Z"
                        fill="#EEDA36"></path>
                      <path
                        id="Trazado_1430"
                        d="M73.8591 207.765C73.8591 210.915 76.4215 213.477 79.5716 213.477C82.7217 213.477 85.284 210.915 85.284 207.765C85.284 204.615 82.7217 202.052 79.5716 202.052C76.4215 202.052 73.8591 204.603 73.8591 207.765Z"
                        fill="#EEDA36"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
          <g id="Grupo_5066">
            <path
              id="Trazado_1436"
              d="M118.637 71.8882C118.696 78.9759 112.995 84.7589 105.919 84.8177C98.8316 84.8765 93.0486 79.1758 92.9898 72.0998C92.9311 65.0121 98.6318 59.229 105.708 59.1702C105.743 59.1702 105.778 59.1702 105.814 59.1702C112.866 59.1349 118.602 64.8357 118.637 71.8882Z"
              stroke="black"
              stroke-width="1.72491"
              stroke-miterlimit="10"></path>
            <path
              id="Trazado_1437"
              d="M66.9662 122.983C66.9662 128.884 75.1706 133.668 85.2909 133.668C95.4112 133.668 103.616 128.884 103.616 122.983C103.616 117.083 95.4112 112.311 85.2909 112.311C75.1706 112.311 66.9662 117.083 66.9662 122.983Z"
              fill="#98DED9"
              stroke="#211F21"
              stroke-width="0.862455"
              stroke-miterlimit="10"></path>
            <path
              id="Trazado_1438"
              d="M62.7466 32.4058H78.8614C89.5694 32.4058 98.338 42.385 98.338 54.5858V79.5633C98.338 80.2685 98.3028 80.962 98.244 81.6438C98.4203 82.396 98.5143 83.16 98.5143 83.9358V115.19C98.5026 120.726 94.0125 125.204 88.4881 125.216H82.0938C76.5576 125.204 72.0794 120.714 72.0676 115.19V101.731H62.7584C52.0504 101.731 43.2818 91.7523 43.2818 79.5515V54.574C43.2701 42.385 52.0386 32.4058 62.7466 32.4058Z"
              fill="white"
              stroke="black"
              stroke-width="0.862455"
              stroke-miterlimit="10"></path>
            <g id="Grupo_5064">
              <g id="Grupo_5062">
                <path
                  id="Trazado_1439"
                  d="M75.5151 62.741C75.5151 64.751 73.8931 66.3731 71.8832 66.3731C69.8732 66.3731 68.2512 64.751 68.2512 62.741C68.2512 60.731 69.8732 59.109 71.8832 59.109C73.8931 59.109 75.5151 60.7428 75.5151 62.741Z"
                  fill="#141414"></path>
                <path
                  id="Trazado_1440"
                  d="M51.7365 62.2129C51.7365 63.929 50.3495 65.3159 48.6334 65.3159C46.9173 65.3159 45.5303 63.929 45.5303 62.2129C45.5303 60.4968 46.9173 59.1097 48.6334 59.1097C50.3495 59.1097 51.7365 60.4968 51.7365 62.2129Z"
                  fill="#141414"></path>
              </g>
              <path
                id="Trazado_1441"
                d="M55.2133 77.0693C55.2133 77.0693 57.0352 82.394 60.9023 82.7584C64.7576 83.1227 67.7901 78.8442 67.9899 75.506L55.2133 77.0693Z"
                fill="#F7F6F6"
                stroke="#141414"
                stroke-width="0.192327"
                stroke-miterlimit="10"></path>
              <g id="Grupo_5063">
                <path
                  id="Elipse_108"
                  d="M79.1094 85.1242C84.095 85.1242 88.1365 81.0826 88.1365 76.0971C88.1365 71.1116 84.095 67.0701 79.1094 67.0701C74.1239 67.0701 70.0823 71.1116 70.0823 76.0971C70.0823 81.0826 74.1239 85.1242 79.1094 85.1242Z"
                  fill="#E4B0C8"></path>
                <path
                  id="Trazado_1442"
                  d="M45.6923 69.9849C45.1516 69.9849 44.6226 70.0555 44.0937 70.173V79.5411C44.0584 80.9045 44.176 82.2681 44.4228 83.608C44.8342 83.6786 45.2574 83.7138 45.6805 83.7255C49.4771 83.7255 52.5567 80.646 52.5567 76.8612C52.5567 73.0763 49.4889 69.9849 45.6923 69.9849Z"
                  fill="#E4B0C8"></path>
              </g>
              <path
                id="Trazado_1443"
                d="M59.2804 59.1088L60.0209 71.474L54.1203 67.8773L59.2804 59.1088Z"
                fill="#D96980"></path>
            </g>
            <path
              id="Trazado_1444"
              d="M93.9422 67.0686L91.1447 51.9175C91.1447 51.9175 75.453 56.9366 63.4638 47.3217C51.4746 37.7069 71.1628 33.8515 67.9774 40.998C64.8038 48.1445 53.8019 51.0948 40.1907 49.602C19.9383 47.3687 19.4329 22.8967 31.0695 15.7149C42.706 8.53314 55.8824 16.9844 55.8824 16.9844C55.8824 16.9844 49.8173 4.84235 64.98 0.798933C77.4394 -2.52748 86.7722 8.01594 88.1357 12.6823C88.1357 12.6823 108.67 14.704 117.803 27.6101C126.936 40.5043 127.653 55.9375 118.626 69.9954C113.348 78.3055 106.66 85.6284 98.8554 91.6347C98.8554 91.6112 97.104 73.4158 93.9422 67.0686Z"
              fill="black"></path>
            <g id="Grupo_5065">
              <path
                id="Trazado_1445"
                d="M118.629 71.8831C118.688 78.9708 112.987 84.7538 105.911 84.8125C98.8237 84.8713 93.0407 79.1706 92.982 72.0947C92.9232 65.007 98.6239 59.2241 105.7 59.1653C105.735 59.1653 105.77 59.1653 105.806 59.1653C112.858 59.1418 118.606 64.8307 118.629 71.8831Z"
                fill="white"></path>
              <path
                id="Trazado_1446"
                d="M98.8706 73.5636C98.8706 73.5636 98.3065 64.9241 107.181 65.8762"
                stroke="#090909"
                stroke-width="0.237175"
                stroke-miterlimit="10"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
<div class="container">
  <div class="bubbles">
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:11;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:12;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:24;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:10;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:14;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:23;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:18;" />
    <img src="../../public/icons/Trazado_circle_1_1378.svg" style="--i:16;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:19;" />
    <img src="../../public/icons/Trazado_circle_2_1378.svg" style="--i:20;" />
    <img src="../../public/icons/Trazado_circle_1_1378.svg" style="--i:22;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:25;" />
    <img src="../../public/icons/Trazado_circle_2_1378.svg" style="--i:18;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:21;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:15;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:26;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:17;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:13;" />
    <img src="../../public/icons/Trazado_circle_1_1378.svg" style="--i:28;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:11;" />
    <img src="../../public/icons/Trazado_circle_2_1378.svg" style="--i:13;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:8;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:27;" />
    <img src="../../public/icons/Trazado_circle_1_1378.svg" style="--i:12;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:7;" />
    <img src="../../public/icons/Trazado_circle_2_1378.svg" style="--i:22;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:9;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:11;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:12;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:24;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:10;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:14;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:23;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:18;" />
    <img src="../../public/icons/Trazado_circle_1_1378.svg" style="--i:16;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:19;" />
    <img src="../../public/icons/Trazado_circle_2_1378.svg" style="--i:20;" />
    <img src="../../public/icons/Trazado_circle_1_1378.svg" style="--i:22;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:25;" />
    <img src="../../public/icons/Trazado_circle_2_1378.svg" style="--i:18;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:21;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:15;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:26;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:17;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:13;" />
    <img src="../../public/icons/Trazado_circle_1_1378.svg" style="--i:28;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:11;" />
    <img src="../../public/icons/Trazado_circle_2_1378.svg" style="--i:13;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:8;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:27;" />
    <img src="../../public/icons/Trazado_circle_1_1378.svg" style="--i:12;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:7;" />
    <img src="../../public/icons/Trazado_circle_2_1378.svg" style="--i:22;" />
    <img src="../../public/icons/Trazado_Triangle_1372.svg" style="--i:9;" />
  </div>
</div>
<style>
  .container {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -100vh;
  }
  .bubbles {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .bubbles img {
    position: relative;
    fill: #4fc3dc;
    /* width: 40px; */
    animation: animate 15s linear infinite;
    animation-duration: calc(100s / var(--i));
  }
  @keyframes animate {
    0% {
      transform: translateY(100vh) scale(0.5) rotate(0deg);
    }
    100% {
      transform: translateY(10vh) scale(1) rotate(360deg);
    }
  }
</style>
