---
import Logo from './icons/ScesiBgDark.astro';
---

<div
  class="fixed top-0 z-30 flex w-screen items-center justify-between bg-[#202020] px-5 py-3 md:px-12"
>
  <Logo />

  <ul>
    <li>
      <a
        href="#postulaciones"
        class="text-poppins rounded-[6px] bg-[#D83746] px-3 py-2 font-medium text-white"
        >Postulaciones 2024</a
      >
    </li>
  </ul>
</div>
